/* forecast/static/forecast/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5ae0f2;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

